{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, Please fill the form below</h1>

    <form method="POST" action="display">
        {% csrf_token %}
        <textarea name="fullname"  cols="10" rows="5" placeholder="full name"></textarea>
        <textarea name="description" cols="10" rows="5" placeholder="your description"></textarea><br>
        <textarea name="businesswebsite"  cols="10" rows="5" placeholder="business website"></textarea>
        <textarea name="businesscontact"  cols="10" rows="5" placeholder="business contact"></textarea><br>
        <textarea name="businesslocation"  cols="10" rows="5" placeholder="business location"></textarea>
        <textarea name="yearsofexperience"  cols="10" rows="5" placeholder="years of experience"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>